{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/mark-lockup.png">
    </a>
    <h1>FODMAP Database using CodaPHP</h1>
    <p>This is a test using <a href="https://github.com/danielstieber" target="_blank">danielstieber</a>'s <a href="https://github.com/danielstieber/CodaPHP" target="_blank">CodaPHP</a> library. FODMAP stands for Fermentable Oligo-Di-Monosaccharides and Polyols. The low FODMAP diet is recommended for patients with digestive disorders or functional abdominal pain. This list shows foods that contain low/high FODMAPs.</p>
  </div>
</div>
<div class="container">
  <h2><span class="glyphicon glyphicon-info-sign"></span> List of Foods</h2>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <table class="food">
        <tr>
          <th>Food Group</th>
          <th>Food</th>
          <th>FODMAP Rating</th>
          <th>Image (Wikipedia)</th>
          <th>Notes</th>
        </tr>
        {% for row in rows %}
        <tr>
          <td>{{ row['values']['Food Group'] }}</td>
          <td>{{ row['values']['Food'] }}</td>
          <td>{{ row['values']['FODMAP Rating'] }}</td>
          <td><img src="{{ row['values']['Image'] }}" width="100"></td>
          <td>{{ row['values']['Notes'] }}</td>
        </tr>
        {% else %}
        {% endfor %}
      </table>
    </div>
    <!-- <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-php">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/php-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd php-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-php#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-php">Getting Started with PHP on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-php">Deploying PHP Apps on Heroku</a></li>
      </ul>
    </div> -->
  </div> <!-- row -->
</div>

{% endblock %}
